.facade-picture{
    height:484px;
    position:relative;
    text-align:center;
}

.facade-picture__image{
    background:url(/img/facade-picture.jpg) center center repeat-x;

    height:484px;
    width:100%;
}

.facade-picture__label-wrap{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.facade-picture__label-box{
    position:relative;
    top:20px;
}

.board{
    color:black;
}

.board__title{
    font-family:Century Gothic, Trebuchet MS, Trebuchet, Malgun Gothic, Candara, Raleway, Lucida Console, Corbel, Consolas, sans-serif;
    font-size:70px;
    font-weight:normal;

    margin:0;
}

.board__text{
    font-size:25px;
    text-decoration:underline;
    text-transform:uppercase;
}

.description__text_facade{
    font-size:16px;
}

.contacts-description__centric{
    text-align:center;
}

.contacts{
    display:table;
    padding:20px;
    width:100%;
}

.contacts__column{
    border:1px solid #c2c2c2;
    display:table-cell;
    position:relative;
    padding:20px;
    width:50%;
}

.contacts__column_left{
    left:-20px;
}

.contacts__title{
    border-bottom:4px solid;
    display:inline-block;
    padding-bottom:5px;
}

.contacts__title.blue{
    border-color:#63b3cd;
}

.contacts__title.green{
    border-color:#14e29e;
}

.contacts-description{
    padding:0;
}

.pricelist__download{
    background:#dd0000;
    color:white;

    display:inline-block;

    float:right;

    margin-top:30px;
    padding:10px;

    text-decoration:none;
    text-transform:uppercase;
}

.pricelist__download:hover{
    background:#ffae00;
}

.mail-link{
    color:#63b3cd;
    text-decoration:none;
}

.key-value-block{
    margin:2px 0;
}

.key-value-block__key{
    display:inline-block;
    width:80px;
}

.partner-box{
    text-align:left;
}

.partner-box__description{
    display:table-cell;
    padding-right:40px;
    vertical-align:middle;
}

.partner-box__link{
    display:table-cell;
    text-decoration:none;
    vertical-align:middle;
}

.partner-link__logo{
    width:200px;
    height:186px;
}